*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
}


main {
    display: flex;
    width: 100%;
    margin-top: 8em;
}

#scene{
    margin: auto;
}

#table {
    width: 50em;
    margin: auto;
    height: 30em;
    background-color: black;
}
